body {
  background-color: #5db9ff !important;
}

.page-title {
  text-align: center;
  padding: 1rem 0;
  top: 0;
  left: 0;
  position: sticky;
  background-color: #363b81;
}

.page-title img {
  width: auto;
  height: 10vh;
}

.main-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.pokemon-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.pokemon-card img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.pokemon-card:hover img {
  filter: drop-shadow(18px -10px 4px rgba(0, 0, 0, 0.3)) brightness(1.1);
}

.pokemon-card h2 {
  text-align: center;
  margin: 0 0 15px 0;
  text-transform: capitalize;
}

.pokemon-card-image {
  display: flex;
  justify-content: center;
}

.bug {
  background-color: #a6b91a;
}

.dark {
  background-color: #705746;
}

.dragon {
  background-color: #6f35fc;
}

.electric {
  background-color: #f7d02c;
}

.fairy {
  background-color: #d685ad;
}

.fighting {
  background-color: #c22e28;
}

.fire {
  background-color: #ee8130;
}

.flying {
  background-color: #a98ff3;
}

.ghost {
  background-color: #735797;
}

.grass {
  background-color: #7ac74c;
}

.ground {
  background-color: #e2bf65;
}

.ice {
  background-color: #96d9d6;
}

.normal {
  background-color: #a8a77a;
}

.poison {
  background-color: #a33ea1;
}

.psychic {
  background-color: #f95587;
}

.rock {
  background-color: #b6a136;
}

.steel {
  background-color: #b7b7ce;
}

.water {
  background-color: #6390f0;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.load-more button {
  font-family: "Acme", sans-serif;
  background-color: #363b81;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 1em;
  font-weight: bold;
  color: #fbd743;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-more button:hover {
  scale: 1.1;
}


.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.searchbar input {
  background-color: white;
  color: black;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1.2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.searchbar input:focus {
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.searchbar button {
  background-color: #363b81;
  color: #fbd743;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 10px 30px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchbar button:hover {
  scale: 1.1;
}